.bg {
  background-image: url("../../assets/img/3736839.jpg");
  height: 10vh;
  background-color: #ffffff;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header .wrap-header {
    justify-content: center;
  }

  header .navbar-brand {
    margin: 0;
    display: block;
  }

  .search-bar {
    justify-content: center;
  }

  .search-input {
    width: 72%;
    margin-right: 10px;
  }

  header .search-bttn {
    margin-right: 0;
    float: left;
  }
}
