/*////////////////// SEARCH COMPONENT //////////////////*/

header .wrap-header {
  justify-content: center;
  margin: 7px;
}

.search-bar {
  justify-content: center;
}

.warn-input {
  margin: 0 auto;
  display: flex;
}
#warn-input-text {
  font-size: 0.8em;
  font-weight: 700;
  color: #ea4335;
  margin: 0 auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header .wrap-header {
    justify-content: center;
    margin: 15px 0;
  }

  header .navbar-brand {
    margin: 0;
    display: block;
  }

  .search-bar {
    justify-content: center;
  }

  .search-input {
    width: 72%;
    margin-right: 10px;
  }

  header .search-bttn {
    margin-right: 0;
    float: left;
  }
}

@media only screen and (max-width: 380px) {
  .search-input {
    width: 65%;
  }
}
@media only screen and (max-width: 320px) {
  .search-input {
    width: 60%;
  }
}
