.kedai-container{
    display: block;
    overflow-y: auto;
}

.kedai-list{
    margin-top: 8px;
    /* margin-left: 8px; */
}
.kedai-list p {
    display: inline-block;
}
.btn {
    margin-right:8px;
}

/* .kedai-detail{
    display: none;
} */
.kedai-detail p{
    word-wrap : break-word;
    width: 450px;
    
}


